<%- include('../templates/header.ejs'); %>

<div class="wrapper">
    <div class="top">
        <h2>Admin Panel</h2>
    </div>
    <div class="core">
        <h3 class="title">Dashboard</h3>
        <div class="list">
            <div class="icon">
                <img src="/public/img/student.png">
            </div>
            <div class="text">
                <h4>Data Siswa</h4>
                <p>1230 data siswa</p>
            </div>
        </div>
        <div class="list">
            <div class="icon">
                <img src="/public/img/teacher.png">
            </div>
            <div class="text">
                <h4>Data Guru</h4>
                <p>86 data guru</p>
            </div>
        </div>
        <div class="list">
            <div class="icon">
                <img src="/public/img/parents.png">
            </div>
            <div class="text">
                <h4>Data Wali Siswa</h4>
                <p>1230 data wali siswa</p>
            </div>
        </div>
        <div class="list">
            <div class="icon">
                <img src="/public/img/alumni.png">
            </div>
            <div class="text">
                <h4>Data Alumni</h4>
                <p>13230 data alumni</p>
            </div>
        </div>
        <div class="list">
            <div class="icon">
                <img src="/public/img/letters2.png">
            </div>
            <div class="text">
                <h4>Data Semua Surat</h4>
                <p>23729 data surat</p>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/footer.ejs'); %>