<%- include('../templates/header.ejs'); %>

<div class="auth">
    <div class="navbar">
        <a href="/">
            <img src="/public/img/back-icon.png" />
        </a>
    </div>
    <div class="container">
        <h2 class="title">Login Admin</h2>
        <% if(error != ""){ %>
            <p class="error"><%= error %></p>
        <% } %>
        <form method="post" action="/admin/login">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="input-login" value="<%= email %>" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input-login" />
            <button type="submit">Masuk</button>
        </form>
    </div>
</div>

<%- include('../templates/footer.ejs'); %>