<%- include('templates/header.ejs'); %>

<div class="welcome-page">
    <div class="container">
        <div class="main">
            <img src="/public/img/icon-letter.png" />
            <p>Halo, selamat datang di</p>
            <h2>Surat Digital</h2>
            <!-- <p class="by">App By: Toni Suwendi</p> -->
            <br>
            <a href='/student' class="btn btn-student">Masuk sebagai siswa</a>
            <a href='/parent' class="btn btn-parent">Masuk sebagai orang tua</a>
            <a href='/teacher' class="btn btn-teacher">Masuk sebagai guru</a>
        </div>
    </div>
</div>

<%- include('templates/footer.ejs'); %>