div.auth div.navbar {
  box-sizing: border-box;
  height: 70px;
  padding: 0 20px;
  width: 100%;
}

div.auth div.navbar img {
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  width: 20px;
}

div.auth div.container {
  background-color: white;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  margin: auto;
  padding: 30px;
  padding-top: 20px;
  width: 500px;
}

div.auth div.container p.error {
  background-color: #F8D7DA;
  border: 1px solid #F5C6CB;
  border-radius: 3px;
  color: #A8686E;
  font-size: 13px;
  padding: 12px 15px;
  margin-top: 15px;
}

div.auth h2.title {
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
}


div.auth label {
  color: #555;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 15px;
}

div.auth input {
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  height: 45px;
  outline: none;
  padding: 0 15px;
  transition: 0.2s;
  width: 100%;
}

div.auth input:focus {
  border: 2px solid #7e0cf5;
  box-shadow: 0 2px 12px 0 rgba(126,12,245,0.2);
}

div.auth button {
  background-color: #7e0cf5;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 47px;
  margin-top: 15px;
  outline: none;
  width: 100%;
}

div.auth button:active,
div.auth button:hover {
  background-color: #6803ea;
}

@media screen and (max-width: 450px){
  div.auth div.container {
      height: calc(100vh - 50px);
      padding: 20px;
      padding-top: 10px;
      width: 100%;
  }
}