<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- google font -->
    <link rel="stylesheet" href="/public/css/fonts.css">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/<%= css %>.css">
    <!-- cdn -->
    <script src="https://kit.fontawesome.com/2baad1d54e.js" crossorigin="anonymous"></script>
    <!-- manifest -->
    <link rel="manifest" href="/public/manifest.json">
    <!-- suggest -->
    <link rel="stylesheet" href="/public/css/amsify.suggestags.css">
</head>
<body>