<%- include('../templates/header.ejs'); %>

<div class="modal-alert">
    <h2 class="title">Surat Telah Dikonfirmasi</h2>
    <img src="/public/img/send.png" class="icon">
    <p>Surat berhasil dikonfirmasi dan telah diteruskan kepada guru.</p>
    <a href="/"><button>Oke</button></a>
</div>
<div class="overlay"></div>

<%- include('../templates/footer.ejs'); %>